body {
   font-family: 'Montserrat';
   background-color: $back;
   color: $text;
   user-select: none;
}

.image {
   width: 50%;
   height: 500px;
   background-size: cover;
   background-image: url('img/methed.jpg');
}